

.flex {
    display:flex;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 20px;
}


.aida {
    margin-bottom: 10px;
}


select{
    background: #fff;
    border-radius: 3px;
}



input[type=text]{
width:300px;
height:30px;

}

table,
table th,
table td {
    border: 1px solid;
    border-color: #C0C0C0;
    border-collapse: collapse;
}


table th{
    padding: 10px 30px;
    background-color: rgb(225, 236, 250);
    width: auto;
}

table td{
    padding: 15px 60px;
    width: auto;
    text-align: center;
}



.btn_ao {
    color: #fff;
    width: 70px;
    height: 20px;
    text-align: center;
    padding: 7px 10px;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    background-color: rgb(44, 121, 251);
    }

.btn_ao:hover {
    background-color: rgb(23, 205, 174);
}



.btn_ao2 {
    border-style:none;
    color: #fff;
    width: 170px;
    height: 40px;
    text-align: center;
    padding: 7px 10px;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    background-color: rgb(44, 121, 251);
    }

.btn_ao2:hover {
    background-color: rgb(23, 205, 174);

}




.btn_gray{
color: #fff;
width: 90px;
height: 20px;
text-align: center;
padding: 7px 10px;
display: block;
text-decoration: none;
border-radius: 3px;
background-color: rgb(102, 115, 128);
}

.btn_gray:hover {
    background-color: cornflowerblue;
}



.btn_red{
    color: #fff;
    width: 40px;
    height: 20px;
    text-align: center;
    padding: 7px 10px;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    background-color: crimson;
    margin: auto;
    }
    
    .btn_red:hover {
        background-color: cornflowerblue;
    }
    


    .btn_green{
        color: #fff;
        width: 100px;
        height: 20px;
        text-align: center;
        font-size: 12px;
        padding: 7px 10px;
        display: block;
        text-decoration: none;
        border-radius: 3px;
        background-color: rgb(37, 162, 169);
        margin: 20px 20px;
        }
        
        .btn_green:hover {
            background-color: rgb(255, 173, 95);
        }
    
        